a{
text-decoration: none;
}

a:hover{
  animation: namechangecolor 2s;
  cursor: help;
}

a:visited{
  color: black;
text-decoration: none;
}

h1{
  font-family: lisbeth-display;
}

body.enter{
  background-image:url(stream.gif);
}

body.main{
  background-image:url(stream.gif);

}

img{
  max-height:90%;
  height:auto;
}

.bigassbox{
  width: 95%;
  height: 90%;
  margin-left: 25px;
  margin-top: 30px;
  display: flex;
  position: absolute;
  align-items: center;
  align-self: center;
  background-color: #F9F6F0;
  border-style: groove;
  border-width: thick;
  overflow: scroll;
}

.name{
  font-family: lisbeth-display;
  z-index: 1;
  font-size: 50px;
  display: flex;
  position: fixed;
  margin-top: 10px;
  margin-left: 10px;
}

.name:hover{
  animation: namechangecolor 2s;
  cursor: help;
}
.clicktoenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-left: 400px;
  color: white;
  font-family: monospace;
}

.clicktoenter:hover{
  cursor: help;
}

.smear{
	color:transparent;
	text-shadow: 0em 0em 0.02em rgba(0,0,0,0.75), -0.2em 0em 0.5em rgba(0,0,0,0.5), 0.2em 0em 0.5em rgba(0,0,0,0.5);
  font-family: lisbeth-display;
  font-size: 30px;
}

.nav{
display: flex;
margin-left: 96vw;


}

.home{
  display: block;
  margin-top: 300px;
  margin-left: 20px;
  font-family: lisbeth-display;
  color: white;
  font-size: 30px;
}

.statement{
  display: flex;
  margin-top: 300px;
  margin-left: 300px;
  height: 70%;
  width: 70%;
  align-self: center;
  font-family: monospace;
  color: white;
  font-size: 15px;

}

@keyframes namechangecolor {
  0%{
    color: black;
  }

  100%{
    color: white;
  }
}
